<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<title>Page Title</title>
<style>
body {
  background-color: lightgrey;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
<div class="container justify-content-center mt-4">
<div class="container" style="padding-bottom:20vh">
<div class="row justify-content-center">
<p>Create new <span style="color:red;">HTTP </span> endpoints to inspect data in an user friendly way!</p>
</div>

<div class="row justify-content-center">
<button id="createnew" type="button" class="btn btn-danger" style="border-radius:12px"><span class="px-4">+ Create New</span> </button>
</div>
</div>
    
    <div id="epcontainer" class="container">
    {% for endpoint in webhook_endpoint_list %}
        <div class="row justify-content-center mb-3">
        <div class="container">
        <div class="row justify-content-center">
            <a target="_blank" style="color:#000000; text-decoration:none" href="http://127.0.0.1:8000/web-hook/get_details/{{endpoint.name}}">{{ endpoint.name }} ({{endpoint.num_hits}})</a>
            </div>
            <div class="row justify-content-center">
            <span class="badge badge-pill badge-warning">Expires in {{endpoint.created_at }} minutes</span>
            </div>
            </div>
        </div>
    {% endfor %}

</div>
<script>
    document.getElementById("createnew").addEventListener("click", function() {
     $.ajax({
      type: "POST",
      url: "/web-hook/create_webhook/",
      success: function () {
       location.reload();
      }
    });
});
</script>

</body>
</html>

